[submodule "module_vitow"]
	path = module_vitow
	url = git@github.com:carlesaraguz/VITOW.git
[submodule "ublox"]
	path = module_gps_temp
	url = git@github.com:juan0fran/ublox.git
[submodule "cc_beacon"]
	path = module_beacon
	url = git@github.com:juan0fran/cc_beacon.git
